/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffeead;
    margin: 0;
    padding: 0;
    text-align: center;
}

form {
    background-color: #fff;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #ff6f61;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3fdf;
}

a {
    color: #0066cc;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
